.lv_LV .icon_new_topic img { background-image: url(../images/lv_LV/post.gif); width: 82px; height: 25px; }
.lv_LV .icon_reply img { background-image: url(../images/lv_LV/reply.gif); width: 82px; height: 25px; }
.lv_LV .icon_reply_locked img { background-image: url(../images/lv_LV/reply_locked.gif); width: 82px; height: 25px; }
.lv_LV .icon_quote img { background-image: url(../images/lv_LV/icon_quote.gif); width: 59px; height: 18px; }
.lv_LV .icon_edit img { background-image: url(../images/lv_LV/icon_edit.gif); width: 59px; height: 18px; }
.lv_LV .icon_profile img { background-image: url(../images/lv_LV/icon_profile.gif); width: 59px; height: 18px; }
.lv_LV .icon_pm img { background-image: url(../images/lv_LV/icon_pm.gif); width: 59px; height: 18px; }