<#include "header.htm"/>
<script type="text/javascript">
function validateForm(f)
{
	if (f.user_id.value == "") {
		alert("${I18n.getMessage("ActivateAccount.fillUserId")}");
		f.user_id.focus();
		
		return false;
	}

    if (isNaN(f.user_id.value)) {
        alert("${I18n.getMessage("ActivateAccount.invalidUserId")}");
		f.user_id.focus();
		
		return false;
	}
	
	if (f.hash.value == "") {
		alert("${I18n.getMessage("ActivateAccount.fillHash")}");
		f.hash.focus();
		
		return false;
	}

	return true;
}
</script>

<form id="formregister" accept-charset="${encoding}" name="formactivate" action="${JForumContext.encodeURL("/jforum")}" method="post" onsubmit="return validateForm(this);">
<input type="hidden" name="action" value="activateAccount" />
<input type="hidden" name="module" value="user" />

<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
	<tr>
		<td align="left">
			<span class="nav"><a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a></span>
		</td>
	</tr>
</table>
		
<table class="forumline" cellspacing="1" cellpadding="3" width="100%" border="0">
	<tr>
		<th class="thhead" valign="middle" colspan="2" height="25">${I18n.getMessage("ActivateAccount.title")}</th>
	</tr>
        
	<tr>
		<td class="row2" colspan="2" align="center"><span class="gensmall"><font color="red">${I18n.getMessage("User.requiredFields")}</font></span></td>
	</tr>
        
	<tr>
		<td class="row1" width="38%" align="right"><span class="gen">${I18n.getMessage("ActivateAccount.userId")}: *</span></td>
		<td class="row2"><input class="post" type="text" style="WIDTH: 200px" maxlength="25" size="25" name="user_id"/></td>
	</tr>
        
	<tr>
		<td class="row1" align="right"><span class="gen">${I18n.getMessage("ActivateAccount.hash")}: *</span></td>
		<td class="row2"><input class="post" type="text" style="WIDTH: 200px" maxlength="255" size="25" name="hash"/></td>
	</tr>
        
	<tr align="center">
		<td class="catbottom" colspan="2" height="28">
			<input class="mainoption" type="submit" value="${I18n.getMessage("User.submit")}" name="submit" />&nbsp;&nbsp;
			<input class="liteoption" type="reset" value="${I18n.getMessage("User.reset")}" name="reset" />
		</td>
	</tr>
</table>
</form>
<#include "bottom.htm"/>