<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Error</title>
  </head>
  <body>
    <h1>Error!</h1>
	<p>Your browser does not support JavaScript or it is disabled, therefore you are unable to perform this action.</p>
      
    <h1>Kļūda!</h1>
	<p>Jūsu pārlūkprogramma neatbalsta JavaScript vai tas ir atslēgts, tāpēc Jūs nevarat izpildīt šo darbību.</p>
     
    <h1>Ошибка!</h1>
	<p>Ваш браузер не поддерживает JavaScript или он отключен, потому вы не можете выполнить это действие.</p>
  
  </body>
</html>

