<table cellspacing="3" cellpadding="0" border="0">
	<tr>
		<td align="left" width="20"><img class="icon_folder_new" src="${contextPath}/images/transp.gif" alt="[New Folder]" /></td>
		<td class="gensmall">${I18n.getMessage("ForumIndex.newMessages")}</td>
		<td>&nbsp;&nbsp;</td>
		<td align="center" width="20"><img class="icon_folder" src="${contextPath}/images/transp.gif" alt="[Folder]" /></td>
		<td class="gensmall">${I18n.getMessage("ForumIndex.noNewMessages")}</td>
		<td>&nbsp;&nbsp;</td>
		<td align="center" width="20"><img class="icon_folder_announce" src="${contextPath}/images/transp.gif" alt="[Announce Folder]" /></td>
		<td class="gensmall">${I18n.getMessage("ForumIndex.announce")}</td>
	</tr>

	<tr>
		<td align="center" width="20"><img class="icon_folder_new_hot" src="${contextPath}/images/transp.gif" alt="[New Hot]" /></td>
		<td class="gensmall">${I18n.getMessage("ForumIndex.newMessagesHot")}</td>
		<td>&nbsp;&nbsp;</td>
		<td align="center" width="20"><img class="icon_folder_hot" src="${contextPath}/images/transp.gif" alt="[Hot]"/></td>
		<td class="gensmall">${I18n.getMessage("ForumIndex.noNewMessagesHot")}</td>
		<td>&nbsp;&nbsp;</td>
		<td align="center" width="20"><img class="icon_folder_sticky" src="${contextPath}/images/transp.gif" alt="[Sticky]" /></td>
		<td class="gensmall">${I18n.getMessage("ForumIndex.sticky")}</td>
	</tr>

	<tr>
		<td align="center" width="20"><img class="icon_folder_lock_new" src="${contextPath}/images/transp.gif" alt="[Lock New]" /></td>
		<td class="gensmall">${I18n.getMessage("ForumIndex.newMessagesBlocked")}</td>
		<td>&nbsp;&nbsp;</td>
		<td align="center" width="20"><img class="icon_folder_lock" src="${contextPath}/images/transp.gif" alt="[Lock]" /></td>
		<td class="gensmall">${I18n.getMessage("ForumIndex.noNewMessagesBlocked")}</td>
		<td>&nbsp;&nbsp;</td>
		<td align="center" width="20"><img class="icon_topic_move" src="${contextPath}/images/transp.gif" alt="[Lock]" /></td>
		<td class="gensmall">${I18n.getMessage("ModerationLog.typeMoved")}</td>
	</tr>
</table>