<!-- SyntaxHighlighter 1.5.1 -->
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shCore.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushJava.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushCpp.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushCSharp.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushDelphi.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushJScript.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushPhp.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushPython.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushRuby.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushSql.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushVb.js"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/shBrushXml.js"></script>
<script type="text/javascript">
<!--
dp.sh.ClipboardSwf = '${contextPath}/templates/${templateName}/js/clipboard.swf';
dp.sh.HighlightAll('code');
-->
</script>