<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=${encoding}">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>JForum ${version} Installation - Step 2</title>
<link rel="stylesheet" href="${contextPath}/templates/default/styles/style.css" type="text/css">
<style type="text/css">
th			{ background-image: url('${contextPath}/templates/default/images/cellpic3.gif') }
td.cat		{ background-image: url('${contextPath}/templates/default/images/cellpic1.gif') }
td.rowpic	{ background-image: url('${contextPath}/templates/default/images/cellpic2.jpg'); background-repeat: repeat-y }
td.cathead,td.catsides,td.catleft,td.catright,td.catbottom { background-image: url('${contextPath}/templates/default/images/cellpic1.gif') }
</style>

</head>
<body text="#000000" link="#006699" vlink="#5584AA">

<table width="70%" height="100%" align="center">
<tr>
<td valign="middle" align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="10" align="center"> 
	<tr>
		<td class="bodyline" width="100%"><table width="100%" border="0" cellspacing="0" cellpadding="0">

			<tr>
				<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="${contextPath}/templates/default/images/logo.jpg" border="0" alt="JForum" vspace="1" /></td>
						<td align="center" width="100%" valign="middle"><span class="maintitle">JForum ${version} ${I18n.getMessage("Install.installation")}</span></td>
					</tr>
				</table></td>
			</tr>

			<tr>
				<td align="center"><br /><br /></td>
			</tr>
			<tr>
				<td colspan="2"><table width="90%" border="0" align="center" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<span class="gen">
							${I18n.getMessage("Install.checkInformation")}
							<br/></br>
							<font color="#ff0000"><b>${I18n.getMessage("Install.forHelpAccess")} <a href="http://www.jforum.net/install.htm">http://www.jforum.net/install.htm</a></b></font>
							</span>
						</td>
					</tr>

				</table></td>
			</tr>
			<tr>
				<td align="center" valign="middle"><br/><span class="maintitle">${I18n.getMessage("Install.step2")}</span></td>
			</tr>
			<tr>
				<td width="100%"><table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
				<form action="${contextPath}/install/install${extension}" name="install" method="post">
				<input type="hidden" name="module" value="install">
				<input type="hidden" name="action" value="doInstall">
					<tr>
						<th colspan="2">1) ${I18n.getMessage("Install.general")}</th>

					</tr>
					<tr>
						<td class="row3 gen" align="right" width="40%"><b>${I18n.getMessage("Install.boardLanguage")}</b></td>
						<td class="row3 gen"><i>${language}</i></td>
					</tr>
					<tr>
						<td class="row1 gen" align="right"><b>${I18n.getMessage("Install.dbType")}: </b></td>
						<td class="row1 gen"><i>${database}</i></td>
					</tr>
					<tr>
						<th colspan="2">2) ${I18n.getMessage("Install.dbConfiguration")}</th>
					</tr>
					
					<#if db_connection_type?default("JDBC") == "JDBC">
						<tr>
							<td class="row3 gen" align="right"><b>${I18n.getMessage("Install.dbHost")}</b></td>
							<td class="row3 gen"><i>${dbHost}<#if dbPort?exists>:${dbPort}</#if></i></td>
						</tr>

						<tr>
							<td class="row1 gen" align="right"><span class="gen"><b>${I18n.getMessage("Install.dbName")}: </b></span></td>
							<td class="row1 gen"><i>${dbName}</i></td>
						</tr>
						<tr>
							<td class="row3 gen" align="right"><b>${I18n.getMessage("Install.dbUsername")}: </b></td>
							<td class="row3 gen"><i>${dbUser}</i></td>
						</tr>

						<tr>
							<td class="row1 gen" align="right"><b>${I18n.getMessage("Install.dbPassword")}: </b></td>
							<td class="row1 gen"><i>${dbPassword}</i></td>
						</tr>

						<tr>
							<td class="row3 gen" align="right"><b>${I18n.getMessage("Install.dbEncoding")}: </b></td>
							<td class="row3 gen"><i>${dbEncoding}</i></td>
						</tr>

						<tr>
							<td class="row1 gen" align="right"><b>${I18n.getMessage("Install.pool")}: </b></td>
							<td class="row1 gen"><i>${usePool}</i></td>
						</tr>
					<#else>
					<tr>
							<td class="row3 gen" align="right"><b>${I18n.getMessage("Install.dbDataSource")}: </b></td>
							<td class="row3 gen"><i>${dbdatasource}</i></td>
						</tr>
					 </#if>
					<tr>
						<th colspan="2">3) ${I18n.getMessage("Install.boardConfiguration")}</th>
					</tr>					
					<tr>
						<td class="row1 gen" align="right"><b>${I18n.getMessage("Install.forumLink")}: </b></td>
						<td class="row1 gen"><i>${forumLink}</i></td>
					</tr>
					<tr>
						<td class="row3 gen" align="right"><b>${I18n.getMessage("Install.siteLink")}: </b></td>
						<td class="row3 gen"><i>${siteLink}</i></td>
					</tr> 					 
					<tr>
						<td class="row1 gen" align="right"><b>${I18n.getMessage("Install.adminUser")}: </b></td>
						<td class="row2 gen"><i>Admin</i></td>
					</tr>
					<tr>
						<td class="row3 gen" align="right"><b>${I18n.getMessage("Install.adminPassword")}: </b></td>
						<td class="row3 gen"><i>${adminPassword}</i></td>
					</tr>
					<script language="javascript">
					function beginInstall()
					{
						document.install.button_install.value = "${I18n.getMessage("Install.installing")}";
						document.install.button_install.disabled = true;
						document.install.button_back.disabled = true;

						document.install.submit();
					}
					</script>
					<tr> 
					  <td class="catbottom" align="center" colspan="2">
						<input type="hidden" name="install_step" value="2" />
						<input type="button" class="mainoption" value="${I18n.getMessage("Install.modifyConfiguration")}" name="button_back" onClick="history.go(-1);">
						<input class="mainoption" type="submit" value="${I18n.getMessage("Install.begin")}" name="button_install" onClick="beginInstall();"/>&nbsp;&nbsp;
					</td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table></td>
	</tr>
</table>

</td>
</tr>
</table>

</body>
</html>
