<#include "header.htm"/>
<script type="text/javascript">
<!--
function validateInfo()
{
	var f = document.formrecover;
	var message = "";
	
	if (f.email.value == "") {
		message = "${I18n.getMessage("User.fillEmail")}";
	}
	else if (f.newPassword.value == "") {
		message = "${I18n.getMessage("User.fillPassword")}";
	}
	else if (f.confirmPassword.value == "") {
		message = "${I18n.getMessage("User.fillPasswordConfirmation")}";
	}
	else if ((f.newPassword.value != f.confirmPassword.value)) {
		message = "${I18n.getMessage("User.passwordNotMatch")}";
	}
	
	if (message != "") {
		alert(message);
		return false;
	}
	
	return true;
}
-->
</script>

 <form action="${contextPath}/jforum${extension}" method="post" name="formrecover" target="_top" id="formrecover" onsubmit="return validateInfo()" accept-charset="${encoding}">
  <input type="hidden" name="module" value="user" />
  <input type="hidden" name="recoverHash" value="${recoverHash}" />
  <input type="hidden" name="action" value="recoverPasswordValidate" />
  
  
<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
	<tr>
		<td class="nav" align="left"><a class="nav" href="${contextPath}/forums/list${extension}">${I18n.getMessage("ForumListing.forumIndex")}</a></td>
	</tr>
</table>

<table class="forumline" cellspacing="1" cellpadding="4" width="100%" align="center" border="0">
	<tr>
		<th class="thhead" nowrap="nowrap" height="25">${I18n.getMessage("PasswordRecovery.title")}</th>
	</tr>

	<tr>
		<td class="row1">
			<table cellspacing="1" cellpadding="3" width="100%" border="0">
				<tr>
					<td align="center" colspan="2">&nbsp;</td>
				</tr>
				
				 <tr>
					<td align="right" width="45%"><span class="gen">${I18n.getMessage("User.emailAddress")}:</span></td>
					<td><input type="text" maxlength="40" size="25" name="email" />&nbsp;</td>
				</tr>
				
				<tr>
					<td align="right" width="45%"><span class="gen">${I18n.getMessage("User.newPassword")}:</span></td>
					<td><input maxlength="40" size="25" name="newPassword" type="password" />&nbsp;</td>
				</tr>

				<tr>
					<td align="right" width="45%"><span class="gen">${I18n.getMessage("User.confirmPassword")}:</span></td>
					<td>
						<input maxlength="40" size="25" name="confirmPassword" type="password" />&nbsp;  
						<input class="mainoption" type="submit" value="${I18n.getMessage("ok")}" name="login" />
					</td>
				</tr>

				<tr align="center">
					<td colspan="2" align="center"><span class="gen">${I18n.getMessage("PasswordRecovery.finalInstructions")}</span></td>
				</tr>
  
				<tr align="center">
					<td colspan="2">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>
<#include "bottom.htm"/>